:root{
    --bg-color: #ECEEE5;
    --bg-gray: #B8B7BE;
    --bg-green: #425F48;
    --dark-btn: #3D3937;
    --pink: #E57EAA;
    --h1-yellow: #E8B953;
    --sky-blue: #96B3E1;
    /* --highlight-yellow: #DF9B69; */
    --dark-green: #425F48;

}

.text-xl{
    font-size: 1.9rem;
    font-family: "Stack Sans Headline";
}

.text-lg{
    font-size: 1.4rem;
}