/* mobile */
@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }

  p {
    font-size: 1.1rem;
  }

  .inter-only{
    display: none;
  }

  .mobile-only{
    display: block;
  }

  .desktop-only{
    display: none;
  }

  footer {
    padding-inline: 0px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer-flexbox {
    flex-direction: column;
    gap: 1.6rem;
    width: 85%;
  }

  .footer-flexbox > div {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .ph-list{
    font-size: 2rem;
  }

  /* homescreen */
  #homescreen-mobile{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
  }

  .homescreen-container{
    width: 85%;
    margin-inline: auto;
  }

  /* body section */
  .body-sections {
    padding-top: 3.125rem;
    padding-bottom: 2ch;
  }

  .body-sections > section {
    width: 85%;
  }

  .body-sections h2 {
    font-size: 5rem;
  }


  .gliding-animal-fs-flexbox {
    flex-direction: column;
  }

  .img-fs-wristbone {
    left: -48%;
    width: 210%;
  }

  .img-fs-sequence{
    width: 130%;
    left: -15%;
    border-radius: 0;
    background-color: #1E1E1E;
    padding: 20px 0px;
  }

  .img-fs-dark {
    width: 100%;
  }

  .gliding-animal-flexbox {
    justify-content: space-between;
  }

  .pink-lines{
    display: flex;
    gap: 40%;
    padding-left: 14%;
  }

  .pink-line.mobile-only{
    width: 2px;
    margin: 0;
  }

  .gliding-animal-flexbox > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .div-do-you-know {
    flex-direction: column;
    position: relative;
    width: 112%;
    left: -6%;
    padding: 6%;
    gap: 16px;
  }

  .div-do-you-know img {
    width: 100%;
    order: 2;
  }

  .diet-container{
    left: -5%;
    width: 110%;
    border-radius: 4rem;
  }

  .img-evolution-squirrel{
    width: 100%;
  }
}
