/* below mid & above mobile */
@media (max-width: 900px) {

    body{
    overflow: auto;
}
    .inter-only {
    display: none;
  }


  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  nav.desktop-only{
    display: flex;
  }

  .btn-sidebar{
    display: none;
  }

  nav.desktop-only{
    display: none;
  }

  nav.mobile-only ul{
    gap: 3rem;
    color: var(--dark-btn);
  }

  /* footer */

  footer {
    padding-inline: 0px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer-flexbox {
    flex-direction: column;
    gap: 1.6rem;
    width: 85%;
  }

  .footer-flexbox > div {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .ph-list {
    font-size: 2rem;
  }

  /* homescreen */
  #homescreen-mobile {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
    
  }

  .homescreen-container {
    width: fit-content;
    height: 100%;
    margin-inline: auto;
    display: flex;
    padding-bottom: 50px;
    position: relative;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
  }

  .div-textbtnarrow-total {
    
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
  }

  .intro-text{
    font-size: 2.9rem;
    width: 100%;
    text-align: left;
    color: var(--dark-btn);
  }

  .intro-text span{
    font-size: 3.3rem;
  }

  .div-button-arrow{
    width: 100%;
  }

  #btn-night-mobile{
    justify-content: center;
    width: 100%;
    color: var(--bg-color);
    text-decoration: none;
  }

  #btn-night-mobile p{
    color: var(--bg-color);
    font-weight: 700;
  }


  .btn-night p{
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .div-fs-portrait{
    position: absolute;
  }

  /* homescreen visuals */
  #div-fs-portrait{
    position: absolute;
    width: 40%;
    min-width: 140px;
    top: 9%;
    right: -18% ;
    z-index: 100;
  }

  .panel-time{
    /* position: absolute; */
    aspect-ratio: 425/150;
    width: 440px;
    max-height: 150px;
    /* bottom: 340px; */
  }

  .sun-icon{
    position: absolute;
    bottom: 50px;
  }

  .forest-img{
    position: absolute;
    aspect-ratio: 505/208;
    width: 140vw;
    max-width: 680px;
    bottom: 52%;
    right: 10%;
  }

  .ph-arrow-fat-left{
    display: block;
    font-size: 2.2rem;
  }

  /* body section */
  .body-sections {
    padding-top: 10rem;
    padding-bottom: 2ch;
  }

  #section-2{
    padding-top: 40px;
  }

  .body-sections > section {
    width: 85%;
  }

  .body-sections h2 {
    font-size: 5rem;
  }

  .gliding-animal-fs-flexbox {
    flex-direction: column;
  }

  .img-fs-wristbone {
    left: -48%;
    width: 210%;
  }

  .img-fs-sequence {
    width: 130%;
    left: -15%;
    border-radius: 0;
    background-color: #1e1e1e;
    padding: 20px 0px;
  }

  .img-fs-dark {
    width: 100%;
  }

  .gliding-animal-flexbox {
    justify-content: space-between;
  }

  .pink-lines {
    display: flex;
    gap: 40%;
    padding-left: 14%;
  }

  .pink-line.mobile-only {
    width: 2px;
    margin: 0;
  }

  .gliding-animal-flexbox > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .div-do-you-know {
    flex-direction: column;
    position: relative;
    width: 112%;
    left: -6%;
    padding: 6%;
    gap: 16px;
  }

  .div-do-you-know img {
    width: 100%;
    order: 2;
  }

  .diet-container {
    left: -5%;
    width: 110%;
    border-radius: 4rem;
  }

  .img-evolution-squirrel {
    width: 100%;
  }
}







/* mobile */
@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }
  
  

  p {
    font-size: 1.1rem;
  }

  .inter-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  nav.desktop-only{
    display: none;
  }

  nav.mobile-only{
    /* display: none; */
    
  }

  nav.mobile-only ul{
    gap: 2.5rem;
  }

  .btn-sidebar{
    display: none;
  }

  .homescreen-container {
    width: 85%;
    padding-bottom: 100px;
  }

  .intro-text{
    font-size: 2.7rem;
    width: 100%;
    text-align: center;
  }

  .intro-text span{
    font-size: 3.1rem;
  }

  .ph-arrow-fat-left{
    display: none;
  }

  .forest-img{
    bottom: 480px;
  }

  /* homescreen visuals */
  #div-fs-portrait{
    position: absolute;
    width: 20%;
    max-width: 140px;
    top: 16%;
    right: -5% ;
    z-index: 100;
  }

  .panel-time{
    width: 100%;
    max-height: 150px;
  }
}

/* smallest */
@media (max-width: 397px) {
    .forest-img{
    bottom: 520px;
  }
}