* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Stack Sans Text", sans-serif;
    scroll-behavior: smooth;
}



header{
    display: flex;
    align-items: center;
    padding: 10px 7%;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

body{
    overflow: hidden;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    
}

nav ul a{
    text-decoration: none;
    color: var(--dark-bg);
}

body{
    background-color: var(--dark-green);
}



h1, h2, h3, h4{
    font-family: "Micro 5", system-ui;
    color: var(--dark-bg);
}

h1{
  display: none;
}

h2{
    font-size: 6rem;
}

h3{
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

p{
    color: var(--dark-bg);
}

footer{
    background-color: var(--dark-bg);
    padding: 50px;
}

footer p{
    color: var(--highlight-yellow);
    width: 400px;
    margin: auto;
    
}

.tech-note{
    color: rgb(66, 237, 154);
    font-family: "Stack Sans Text", sans-serif;
}

#logo{
   width: 60px;
  height: 60px;
}

#logo-link{
    position: relative;
}

#logo-link .ph-flower{
  font-size: 3.95rem;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--pink);
  z-index: 100;
  background: #000000;
  border-radius: 100%;
}

#homescreen{
    /* margin-top: 76px; */
    height: 300vh;
    width: 1440px;
    margin-inline: auto;
    /* position: sticky; */
}

.flexbox-homescreen{
    display: flex;
    height: 100vh;
}

.h1-col{
    height: 100vh;
    width: 14%;
    /* flex-grow: 1; */
    overflow-y: scroll;
    background-color: var(--dark-green);
    position: relative;
    overflow: hidden;
}

/* .h1-col, .left-col, .panel-distance-food{
    position: sticky;
} */

.h1-scroll{
  position: relative;
    font-family: "Micro 5", system-ui;
  text-wrap: nowrap;
  font-size: 14rem;
  transform: rotate(90deg);
  font-weight: 100;
  color: var(--h1-yellow);
}

.h1-scroll:first-of-type{
    top: 0px;
}

.h1-scroll:not(:first-of-type){
    top: 820px;
}

.img-tree-trunk{
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0;
}

.img-fs{
    position: absolute;
    z-index: 100;
    width: 200px;
    top: 75%;
    /* opacity: 0; */
    display: none;
}

.ph-flower{
    position: relative;
    display: block;
    width: fit-content;
    background-color: var(--dark-green);
    color: var(--h1-yellow);
    font-size: 2.5rem;
    /* border: 10px solid var(--dark-green); */
    right: -122px;
}

.ph-flower:nth-of-type(1){
    top: -236px;
}

.ph-flower:nth-of-type(2){
    top: 228px;
}

.ph-flower:nth-of-type(3){
    top: 722px;
}

.ph-flower:nth-of-type(4){
    top: 1190px;
}



.left-col{
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.panel-door{
    /* height: 710px; */
    height: 77%;
    background: linear-gradient(0deg, #425f57 0%, #B4B3BA 55%);
    display: flex;
    padding-bottom: 20px;
    position: relative;
}

.img-door{
    /* mix-blend-mode: darken; */
    width: 82%;
    align-self: end;
    justify-self: center;
    margin-inline: auto;
}


.img-door-sign{
    position: absolute;
    top: 190px;
    left: 24%;
    width: 200px;
    z-index: 100;
}

.letter-z {
    position: absolute;
    top: 285px;
    left: 46%;
    z-index: 100;
}

.z-small{
    width: 16px;
    left: 40%;
}

.z-mid{
    width: 20px;
    top: 277px;
}

.z-big{
    width: 24px;
    left: 53%;
    top: 270px;
}

.panel-time{
    flex: 1;
    overflow: hidden;
    position: relative;
    background-color: var(--dark-btn);
    display: flex;
}

.panel-time img{
    height: 100%;
}

#sun-icon{
    position: absolute;
    top: 60px;
    left: 42%;
    width: 60px;
    height: 60px;
    /* background-color: #F3C25B; */
    margin: auto;
    z-index: 100;
    
}

#moon-icon-night{
    visibility: hidden;
    /* position: absolute;
    top: 60px;
    left: 42%;
    z-index: 200; */
}


.panel-row{
    display: flex;
    background-color: var(--dark-green);
    text-align: center;
    height: 44px;
    
    
}

.panel-row p{
    color: var(--bg-color);
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}

#clock{
    font-family: "Micro 5";
    
    font-size: 2rem;
    margin: auto;
}

/* .sun-icon{
    background-color: var(--highlight-yellow);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: auto;
    margin-top: 60px;
} */


/* right col */

.right-col-big{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.fill-width{
    width: 100%;
}

.top-right-total{
    height: 77%;
    overflow: auto;
}

.top-right-panel{
    background-color: var(--bg-color);
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 100px;
    gap: 24px;
    height: 100%;
    
}

.forest-panel{
    /* margin-bottom: 10px; */
    width: 98%;
    position: relative;
}

.forest-img{
    margin-bottom: 10px;
    width: 100%;
}

.img-forest-dark{
    position: absolute;
    left: 0;
    opacity: 0;
}

.div-portrait-caption-button{
    display: flex;
    align-items: center;
    gap: 35px;
    
}

.div-fs-portrait{
    background-image: url("assets/fs-portrait.png");
    width: 300px;
    height: 207px;
    background-size: cover;
    position: relative;
}

.img-fs-mask{
    width: 88%;
    position: absolute;
    right: 0;
    top: 37%;

}


.div-portrait-caption-button > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-text{
    width: 80%;
}

.highlight{
    color: var(--pink);
    font-family: "tiny5";
    font-size: 2.4rem;
    padding-left: 5px;
}

.div-portrait-caption-button button{
    padding: 16px 34px;
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: 16px;
    color: var(--bg-color);
    background-color: var(--dark-btn);
    border-radius: 100px;
    width: fit-content;
    
}

.div-button-arrow{
    display: flex;
    align-items: center;
    gap: 14px;
}

.ph-arrow-fat-left{
    font-size: 2rem;
    color: var(--dark-btn);
}

.moon-icon{
    width: 34px;
}

.moon-icon-detailed{
    display: none;
    width: 40px;
}

.human-quote{
    display: flex;
    align-items: center;
    gap: 20px;
}

.human-quote > *{
    display: block;
}

.human-quote > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 16px;
}

.quote-text{
    font-family: "Micro 5";
    font-size: 5.6rem;
    color: var(--dark-btn);
    display: flex;
    align-self: center;
}

.quote-text span{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 5.2rem;
    
}

.ph-heart{
    color: var(--pink);
      -webkit-text-stroke-width: 1.5px;
  /* -webkit-text-stroke-color: #947769; */
    -webkit-text-stroke-color: var(--dark-bg);

    font-size: 1.75rem;
}

/* quick facts scroll */
.top-right-quickfacts-panel{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 64px;
    display: none;
    opacity: 0;

    padding-top: 90px;
    
    padding-left: 45px;
    padding-right: 100px;
    height: 100%;
}

.fact-1{
    background-color: #96B3E1;
}

.div-quickfact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quickfact-text{
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--dark-btn);
    font-family: "Stack Sans Headline";
    line-height: 120%;

}

.fact-highlight{
    color: var(--dark-blue);
}

.tip-scroll{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #413F3D;
    font-family: "Stack Sans Text";
}

.tip-scroll .ph-fill{
    font-size: 0.85rem;
}

/* 2 other panels */

.panel-distance-food{
    display: flex;
    width: 100%;
    /* flex: 1; */
    height: 23%;
    background-color: var(--bg-color);
}

.panel{
    width: 100%;
    height: 100%;
    
}

.panel:first-child{
    width: 150%;
}

.panel-distance, .panel-food{
    display: flex;
    position: relative;
}

.panel-distance{
    /* background-image: url("assets-new/distance.png");
    background-size: contain;
    background-repeat: no-repeat; */
    
    /* border: 1px solid var(--dark-green); */
    /* background-position: center; */
    background-color: var(--bg-gray);
    height: 100%;
    position: relative;
    
}

.img-ruler{
    width: 90%;
    margin: inline;
    height: fit-content;
    position: relative;
    top: 38%;
    left: 5%;
}

.plane-path{
    position: absolute;
    left: 13%;
    top: 5%;
    stroke-width: 6px;
}

.mask{
    position: absolute;
    left: 13%;
    top: 5%;
    width: 240px;
    height: 68px;
}

.img-plane{
    width: 160px;
    position: absolute;
    right: 10%;
    top: 7%;
    opacity: 0;
}

.panel-food{
    background-image: url("assets/spiral-bg.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    /* border: 1px solid var(--dark-green); */
    background-position: center center;
    position: relative;
}

.img-plate{
    width: 80%;
    position: absolute;
    top: 45%;
    left: 10%;
}

.food-item{
    position: absolute;
    width: 24%;
    top: 16%;
}

.img-acorn{
    left: 20%;
}

.img-pine-nut{
    left: 40%;
    top: 30%;
}

.img-seed{
    top: 20%;
    right: 16%;
    width: 26%;
}


.panel-distance-food .panel-row{
    position: absolute;
    bottom: 0;
    width: 100%;
}