*{
    box-sizing: border-box;
    font-family: "Archivo Narrow", sans-serif;
}

:root{
    --primary-yellow: "#E6EA63"

}

header{
    width: 100%;
    height: 480px;
    background-color: var(--primary-yellow);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-image: "assets/banner_bg.png";
    gap: 0;
}

h1{
    font-size: 5rem;
    margin-bottom: 0;
}