*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(36, 36, 36);
}

body{
    width: 70ch;
    margin-left: auto;
    margin-right: auto;
    color: rgb(240, 240, 240);
}

#title2{
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

h1{
    margin-top: 60px;
    margin-bottom: 30px;
}

section{
    border: 3px rgb(67, 67, 67) solid;
    margin-bottom: 0px;
    padding: 10px 20px;
    padding-top: 20px;
    
    display: flex;
    justify-content: space-between;
    
}

.inner-section{
    width: 500px;
}


h2{
    font-size: 0.75rem;
    /* position: absolute;
    left: 18px;
    top: -20px; */
    flex-direction: column;
    /* background-color: white; */
    padding: 0px 10px;
    font-weight: 500;

}


h3{
    font-size: 0.75rem;
    color: rgb(193, 193, 193);
    
}

span{
    color: rgb(154, 154, 154);
}

p{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(103, 103, 103, 0.5);;
}

p:last-of-type{
    border-bottom: none;
    padding-bottom: 0px;
}

#title-secondary{
    position: static;
    padding: 0;
    margin-bottom: 0px;
}



.weight-extra-light{
    font-weight: 200;
}

.weight-normal{
    font-weight: 400;
}

.weight-bold{
    font-weight: 700;
}

.style-normal{
    font-style: normal;
}

.style-italic{
    font-style: italic;
}

.tracking-none{
    letter-spacing: normal;
}

.tracking-smaller{
    letter-spacing: -0.02em;
}

.tracking-larger{
    letter-spacing: 0.02em;
}

.decoration-none{
    text-decoration: none;
}

.decoration-underline{
    text-decoration: underline;
}

.decoration-strikethrough{
    text-decoration: line-through;
}

.decoration-dotted{
    text-decoration: underline dotted;
}

.transform-none{
    text-transform: none;
}

.transform-capitalized{
    text-transform: capitalize;
}

.transform-uppercase{
    text-transform: uppercase;
}