.banner{
    background-color: var(--bg-dark);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    grid-row: 12;
    height: 100vh;
}

.section-old{
    width: 800px;
    margin-inline: auto;
    margin: 80px auto;
}

#section-2{
    margin-top: 40px;
}

.section-old img {
    width: 500px;
}

.section-old p{
    width: 70ch;
}

.do-you-know{
        display: flex;
    flex-direction: column;
    border-radius: 20px;
border: 2px dashed var(--highlight-yellow);
padding: 40px 50px;
gap: 30px;
align-items: center;
}

.do-you-know p{
    width: 100%;
}

.gliding-animal-flexbox{  
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  margin: 50px 0px;
  
}

.gliding-animal-flexbox > div {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: start;
  
  
}

.gliding-animal-flexbox > div img{
  width: 70%;
}

.gliding-animal-flexbox > div p{
  text-align: center;
  width: 200px;
}

.img-margin, .menu-img{
    margin-bottom: 30px;
    margin-top: 50px;
}

.do-you-know h3{
    margin: 0;
    margin-bottom: 14px;
}