* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Stack Sans Text", sans-serif;
    scroll-behavior: smooth;
}



header{
    display: flex;
    align-items: center;
    padding: 10px 7%;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    
}

nav ul a{
    text-decoration: none;
    color: var(--dark-bg);
}

body{
    background-color: var(--bg-color);
}



h1, h2, h3, h4{
    font-family: "Micro 5", system-ui;
    color: var(--dark-bg);
}

h1{
  font-family: "Micro 5", system-ui;
  text-wrap: nowrap;
  font-size: 15rem;
  transform: rotate(90deg);
  color: var(--bg-color);
}

h2{
    font-size: 6rem;
}

h3{
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

p{
    color: var(--dark-bg);
}

.tech-note{
    color: rgb(66, 237, 154);
    font-family: "Stack Sans Text", sans-serif;
}

#logo{
   width: 60px;
  height: 54px;
}

#homescreen{
    /* margin-top: 76px; */
    height: 100vh;
    width: 1440px;
    margin-inline: auto;
}

.flexbox-homescreen{
    display: flex;
}

.h1-col{
    height: 100vh;
    width: 14%;
    /* flex-grow: 1; */
    overflow-y: scroll;
    background-color: var(--dark-bg);
}

.left-col{
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.panel-door{
    height: 733.11px;
}

.panel-time{
    background-image: url("assets-new/sky-texture.png");
    flex: 1;
    background-size: cover;
}

.panel-row{
    display: flex;
    background-color: var(--dark-green);
    text-align: center;
    height: 40px;
    
}

.panel-row p{
    color: var(--bg-color);
    margin: auto;
    text-align: center;
}

#clock{
    font-family: "Micro 5";
    
    font-size: 2rem;
    margin: auto;
}

.sun-icon{
    background-color: var(--highlight-yellow);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: auto;
    margin-top: 60px;
}


/* right col */

.right-col-big{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.fill-width{
    width: 100%;
}

.top-right-panel{
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    padding-inline: 3vw;
    padding-right: 100px;
    gap: 20px;
    height: 733.11px;
}

.div-portrait-caption-button{
    display: flex;
    align-items: center;
    gap: 18px;
}

.div-portrait-caption-button > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-text{
    width: 80%;
}

.highlight{
    background-color: var(--highlight-yellow);
}

.div-portrait-caption-button button{
    padding: 16px 34px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #E9A071;
    background-color: var(--dark-bg);
    border-radius: 100px;
    width: fit-content;
}

.moon-icon{
    width: 34px;
}

.human-quote{
    display: flex;
    align-items: center;
    gap: 10px;
}

.human-quote > div{
    gap: 10px;
}

.quote-text{
    font-family: "Micro 5";
    font-size: 6.25rem;
    color: var(--dark-bg);
}

.ph-heart{
    color: var(--pink);
      -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #947769;
    font-size: 1.75rem;
}

.panel-distance-food{
    display: flex;
    width: 100%;
    flex: 1;
}

.panel{
    width: 100%;
    height: 100%;
    
}

.panel:first-child{
    width: 150%;
}

.panel-distance{
    background-image: url("assets-new/distance.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 184.89px;
    border: 1px solid var(--dark-green);
    background-position: center;
    
}

.panel-food{
    background-image: url("assets-new/food.png");
    background-size: cover;
    height: 184.89px;
    background-repeat: no-repeat;
    border: 1px solid var(--dark-green);
    background-position: center;
}