@media (min-width: 600px) {
  .intro-spacing {
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 900px) {
  main{
    width: 100vw;
    overflow-x: hidden;
  }

  h1 {
    font-size: clamp(3rem, 11vw, 200px);
    margin-top: 60px;
    grid-column: 1 / -1;
    position: static;
    margin-bottom: clamp(-20px, -4%, -40px);
  }

  section h2 {
    font-size: 6.2rem;
  }

  nav {
    top: 0;
  }

  .hide-in-mobile {
    display: block;
  }

  .hide-in-desktop {
    display: none;
  }

  #how-to-make-h2 {
    display: none;
  }

  #logo {
    display: flex;
    gap: 8px;
  }

  #nav-tabs {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  #nav-tabs li {
    display: block;
    font-family: Raleway;
    list-style: none;
    font-weight: 600;
  }

  #hamburger-menu {
    display: none;
  }

  .intro-spacing {
    padding: 0px 40px;
    display: block;
    width: 100%;
  }

  .intro-spacing-2 {
    /* three-column info */
    display: flex;
    flex-direction: row;
    gap: clamp(30px, 5%, 76px);
    padding: 28px 0px 30px 0px;
    padding-left: clamp(100px, 10%, 150px);
  }

  #intro-section {
    display: none;
  }

  .served-pie-img {
    width: clamp(370px, 50vw, 694px);
    top: clamp(185px, 20vw, 280px);
    z-index: -5;
  }

  .pie-orange-bg {
    width: 100%;
    position: relative;
    z-index: -10;
    border: 1px solid #414202;
  }

  #dish-description-mobile {
    display: none;
  }

  #dish-description {
    display: none;
  }

  .overview-brief {
    padding: 0;
    order: 2;
    width: clamp(200px, 20%, 300px);
  }

  #overview-heading {
    display: block;
    font-size: 1.25rem;
  }

  .overview-entries {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
  }

  .overview-entry {
    padding: 20px 0px;
    justify-content: space-between;
  }

  .overview-entry:not(:last-child) {
    border-bottom: 1px solid #ee891d;
  }

  #nutrition-facts-section {
    padding: 0;
    width: clamp(180px, 16%, 260px);
    gap: 0;
  }

  #nutrition-facts-section h3 {
    padding: 0;
    font-size: 1.25rem;
  }

  #nutrition-facts-section p {
  }

  .nutrition-facts-entry {
    padding: 20px 0px;
    height: fit-content;
  }

  #btn-get-ingredients {
    order: 10;
    padding: 32px 0px;

    border-radius: 50px;
    text-align: center;
  }

  .desciption-and-btn-desk {
    order: 10;
    width: clamp(200px, 30%, 540px);
  }

  .desciption-and-btn-desk p {
    border: none;
  }

  .desciption-and-btn-desk .icon {
  }

  .opening-comment-line {
    flex-direction: column;
    align-items: start;
    margin: 0;
  }

  .opening-comment {
    font-family: "Warbler Display";

    font-size: 1.75rem;
  }

  /* section 2 */
  #section-ingredients-tools{
    width: 100vw;
    height: calc(100vh - 68.5px);
    align-items: start;
    min-height: 890px;
  }
  

  .section-i-t-flexbox {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: clamp(20px, 4%, 60px);
  }
  #section-ingredients {
    min-width: 500px;
    width: 40%;
    /* padding-left: clamp(50px, 7%, 150px); */
    position: relative;
  }

  .section-i-t-flexbox h3 {
    font-size: 1.375rem;
    margin-bottom: 24px;
  }

  .ingredient-entry {
    position: relative;
  }

  .ingredient-thumbnail {
    width: 70px;
  }

  .ingredient-entry p {
    font-size: 1rem;
  }

  .ingredient-quantity {
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  /* section 2: equipments */
  #section-equipment, #btn-start-cooking {
    max-width: 450px;
    width: 100%;
  }

  .equipment-big-div {
    
    grid-column-start: 2;
  }

  .equipment-thumbnails {
    gap: clamp(8px, 3%, 14px);
    margin-bottom: 34px;
  }

  .equipment-thumbnail {
    max-width: 140px;
    width: 100%;
  }

  #btn-start-cooking{
    
  }

  #ingredient-alt-note{
    position: absolute;
    
    top: 0px;
    right: 0px;
    margin: 4px;
  }
  #ingredient-alt-note a{
    color: #EAEC24;
  }

  /* section 3: cooking (desktop) */
  
  #section-instructions-mobile{
    display: none;
  }
  
  

  #section-instructions-desk{
    background-color: var(--bg-color);
    font-size: 6rem;
    padding-left: 70px;
    /* border: 1px solid #C1C2BD; */
    
  }

  .cooking-panel{
    display: flex;
    background-color: var(--bg-color);
    height: 750px;
    width: 100vw;
    border: 1px solid #C1C2BD;
    
  }

  .steps{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
  }

  .step:nth-child(4), .step:nth-child(5){
    justify-content: center;
    gap: 30px;
  }



  .step{
    display: flex;
    
    flex-direction: column;
    padding: 40px 70px;
    justify-content: space-between;
    border: 1px solid #00000033;
    background-color: var(--bg-color);
  }

    .step:not(.hide-step){
      min-height: 451px;
    }

  
  .step-content{
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  .step-header{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .step h3{
    font-size: 1.4rem;
  }

  .step-header p{
    font-size: 1.2rem;
  }

.step-content h4{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Raleway;

  } 

  .step img{
    height: 60px;
    width: fit-content;
  }
  hr{
    margin: 20px 0px;
  }

  .step ul{
    padding: 0px 14px;
  }

  .step ul li p, .step ul li{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 8px;

  }

  .img-panel{
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    gap: 80px;
  }

  .img-panel h2{
    margin-top: 0;
  }

  .img-panel img{
    height: 460px;
    align-self: center;
    
  }

  .hide-step{
    background-color: #323300;
    height: 28px;
    justify-content: center;
  }

  

  .hide-step > div:not(.step-header), .hide-step img{
    position: relative;
    display: none;
  }

  .hide-step .step-header h3, .hide-step .step-header p{
    color: #E7E1DA;
  }
  
}
