* {
  box-sizing: border-box;
  margin: 0;
  --bg-color: #f3f4eb;
  --secondary-color: #FF931E;
}
::selection {
  background-color: #EAEC24;
  opacity: 0.8;
}

html{
background-color: var(--bg-color);
scroll-behavior: smooth;
}

main {
  color: #414202;
  position: relative;
  z-index: -2;
}

h1,
h2 {
  font-family: norman-variable, sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  color: #414202;
}

h1 {
  margin-top: 75px;
    grid-column: 2 / span 1;
    position: sticky;
    top: 60px;
    z-index: -1;
}

h2 {
  color: #323300;
  font-size: 2.125rem;
}

h3 {
  color: #323303;
  font-family: raleway;
  font-size: 1rem;
}



.hide-in-mobile{
    display: none;
}


.hide-in-desktop{
    display: block;
}


#how-to-make-h2 {
  grid-column: 2 / span 1;

}

#intro-section {
  grid-column: 2 / span 1;
  position: sticky;
  top: 144px;
  z-index: -1;
}

p {
  font-family: Raleway;
  font-size: 0.875rem;
  color: #333307;
}


nav{
    display: flex;
    padding: 16px 36px 10px 36px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--bg-color);
    width: 100vw;
    border-bottom: 1px solid #32330020; 
    z-index: 10;
}


#hamburger-menu{
    border: none;
    background-color: none;
}



.material-symbols-outlined{
    color: #414201;
}

.nav-tabs{
    
    display: none;
}

.intro-spacing {
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.intro-spacing-2{
    background-color: var(--bg-color);
    grid-column: 2;
}

.btn{
  display: block;
  font-family: "Asterisk Sans Variable";
  color: #2f2f03;
  text-decoration: none;
}

.btn-nav {
  padding: 16px 10px;

  width: 100%;
  background: #e9ec23;

  font-size: 1.25rem;
  font-weight: 800;
  
  border: 1px solid rgba(112, 111, 18, 0.5);
  border-radius: 20px;
  text-align: center;
}

.disable{
    background: #CBCBCB;
    color: #7e7e7e;
}

.btn-secondary{
    width: auto;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    border: 1px solid rgba(65, 66, 2, 0.30);
    font-family: "Asterisk Sans Variable";
    font-weight: 800;

    /* background-color: var(--secondary-color); */

}



.icon {
  color: #706f12;
}

.ph-star{
    color: #BCC52B;
}


.served-pie-img{
    width: 370px;
    position: fixed;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.opening-comment-line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.opening-comment {
  color: #323303;
  font-family: "Warbler Display";
  font-size: 1.125rem;
  font-style: italic;
}


.pie-orange-bg {
visibility: none;
  width: 100vw;
  height: 271px;
  background-color: #ff931e; 
  background-color: -webkit-linear-gradient(0deg, #ff931e 0%, #24254e 100%);
  z-index: -10;
  grid-column: 1 / span 3;
}

.white-space-1,
.white-space-2{
    background-color: var(--bg-color);
}

.white-space-1{
    grid-column-start: 1;
}

.white-space-2{
    grid-column-start: 3;
}

.overview-brief {
  padding: 0px 16px;
  grid-column: 2;
  background-color: var(--bg-color);
}

#dish-description-mobile{
    padding: 1.25rem 0;
    border-bottom: 1px solid #EE891D;
}

.dish-description {
  padding: 1.25rem 0px;
  border-bottom: 1px solid var(--secondary-color);
}

#overview-heading {
  display: none;
}

.overview-entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  padding: 20px 0px;
}

.overview-entry {
  display: flex;
  gap: 4px;
}

.overview-entry div {
  display: flex;
  gap: 10px;
}

.number-quantity {
  font-weight: 700;
}

#btn-get-ingredients {
  grid-column: 2;
}

#nutrition-facts-section {
  grid-column: 2;
  display: grid;
  padding: 10px 20px;
}

#nutrition-facts-section h3 {
  padding-top: 30px;
  padding-bottom: 6px;
}

.nutrition-facts-entry {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px;
}

.nutrition-facts-entry:not(:last-child) {
  border-bottom: 1px solid #ee891d;
}

#section-ingredients-tools{
    background-color: #323300;
    padding: 20px 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    scroll-margin-top: 60px;
    align-items: center;
    width: auto;
}



#section-title-ingredients{
    color: #e9ec23;
    text-align: left;
    align-self: flex-start;

}

#section-ingredients-tools h3{
    color: #EEEDF7; 
    margin-bottom: 14px;
}



#section-ingredients-tools > p {
    color: #EEEDF7;
}

#section-ingredients{
    margin-bottom: 34px;
}

.ingredient-entry{
    display: flex;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid #242501;
}

.name-w-tag{
    display: flex;
    gap: 10px;
    align-items: center;
}

.quantity-w-note{
    display: flex;
    gap: 4px;
}

.ingredient-thumbnail{
    width: 60px;
}

.ingredient-name,
.ingredient-quantity, 
.ingredient-note{
    color: #EEEDF7;
    font-size: 0.875rem;

}

.ingredient-name{
    font-weight: 700;
}

.ingredient-quantity{

}

.ingredient-note{
    opacity: 0.7;
}

.tag-optional{
    padding: 4px 10px;
    font-family: Raleway;
    color: #C6C5C6;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 200px;

    background-color: #262600;
}

#ingredient-alt-note{
    color: #EEEDF7;
    margin-top: 20px;
}

#ingredient-alt-note a{
    color: #EEEDF7;
    font-weight: 600;
}

#section-equipment{
    
}

.equipment-big-div{
    max-width: 450px;
}


.equipment-thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 14px;
  margin-bottom: 30px;

}

.equipment-thumbnails p{
  color: #EEEDF7;
  font-size: 0.875rem;
}

.equipment-thumbnail {
  width: 100%;
  max-width: 140px;
}

#section-instructions-mobile{
    min-height: calc(100vh - 66px);
    padding: 30px 50px 50px 50px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 34px;
    scroll-margin-top: 60px;
}


.dropdown-line{
    display: flex;
    gap: 14px;
    align-items: center;
}

.dropdown-line p{
    font-size: 0.9rem;

}

.cooking-copy{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    
}

.cooking-copy h3{
    font-size: 1.7rem;
    
}

select{
    background-color: #F3F4EB;
    padding: 6px 14px;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
    color: #414202;

}


.cooking-thumbnail{
    
    max-width: 300px;
    flex-grow: 1;
    align-self: center;
    max-height: 320px;
    /* border-bottom: 8px solid #414201; */
}

  .step-mob ul{
    padding: 0px 1rem;
  }

  .step-mob ul li p, .step-mob ul li{
    font-size: 1rem;
    font-weight: 400;
    margin: 8px;

  }

  hr{
    margin: 0.55rem 0px;
  }


.icon-sequence{
    max-height: 50px;
    width: fit-content;
    margin-inline: auto;
}

.cooking-pg-bottom{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.mobile-interaction-note{
    text-align: center;
}

.desktop-interaction-note{
    display: none;
}




#sidebar-mob{
background-color: #FF931E;
    width: 100vw;
    inset: 0;
  height: 100%;
  margin: 0;
  padding: 0;
    
}

.logo{
    display: flex;
    padding: 20px;
    gap: 10px;
}

.nav-tabs-2{
    margin: 100px;
    list-style: none;
    padding: 0;
}

.nav-tabs-2 li{
    border-bottom: 1px solid #414202;
}

.nav-tabs-2 .btn{
    font-family: Norman;
    font-size: 2.75rem;
}
